@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-card: #1A1B24;
    /*
    --bg-body: #fafafb;
    --bg-body: linear-gradient(to top, #07080f, #121529);
    --bg-body: linear-gradient(to top, #475154, #272f30);
     */
    --bg-body: linear-gradient(to top, #3A4154, #232330);
    
    --light-blue: #5ED3EC;
    --get-pro: #0FFC03;

    --color-success: #029964;
    --color-warning: #A29950;
    --color-error:   #B4483E;
    --color-primary: #0C8282;
    --color-extra1:  #FA37FA;
    --color-extra2:  #DB6204;
    --color-extra3:  #5ED3EC;
    --color-extra4:  #0FFC03;

    --color-text: #fff9;
    --error: #FA020F;

    --width-sidebar: 200px;
    --font-size: 15px;
    --font-weight: 400;
}

* {
    margin:0;
    padding:0;
    color: var(--color-text);
}

#data-colorschema{
    position:absolute;
    top :0;
    visibility: hidden;
}

body {
    /*
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    */
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: var(--font-size);
    overflow:hidden;

}

#app {
    display: grid;
    grid-template-columns: 200px 400px;
    height: 100vh;
    width: 100vw;
    
    position: relative;
}
#app[data-colorschema="light"]{background: #fafafb;}
#app[data-colorschema="dark"]{background: var(--bg-body);}

#page-container{
    width:calc(100vw - var(--width-sidebar));
}

#page {
    padding: 20px 20px 0px 20px;
    height: calc(100vh - 80px);
    overflow: auto;
    scrollbar-width: thin;  /* auto | thin | none */
    scrollbar-color: var(--color-extra3) transparent;
}

/* CONFIG PAGES */
.page-one-element {
    display: flex;
    justify-content: center;
}
.page-full {
    height: calc(100vh - 80px);
}


/* Buttons */
.btn {padding: 5px 8px; border-radius: 5px;background:transparent;cursor:pointer;transition:300ms}

.btn-primary {border: 1px solid var(--color-primary); color: var(--color-primary)}
.btn-error {border: 1px solid var(--color-error); color: var(--color-error)}
.btn-success {border: 1px solid var(--color-success); color: var(--color-success)}
.btn-warning {border: 1px solid var(--color-warning); color: var(--color-warning)}
.btn-extra1 {border: 1px solid var(--color-extra1); color: var(--color-extra1)}
.btn-extra2 {border: 1px solid var(--color-extra2); color: var(--color-extra2)}
.btn-extra3 {border: 1px solid var(--color-extra3); color: var(--color-extra3)}
.btn-extra4 {border: 1px solid var(--color-extra4); color: var(--color-extra4)}

.btn-primary:hover {background: var(--color-primary); color: #fff}
.btn-error:hover {background: var(--color-error); color: #fff}
.btn-success:hover {background: var(--color-success); color: #fff}
.btn-warning:hover {background: var(--color-warning); color: #fff}
.btn-extra1:hover {background: var(--color-extra1); color: #fff}
.btn-extra2:hover {background: var(--color-extra2); color: #fff}
.btn-extra3:hover {background: var(--color-extra3); color: #fff}
.btn-extra4:hover {background: var(--color-extra4); color: #fff}

/* Badges */
:root{
    --dark-bg-success-badge: #1b322b;
    --dark-text-success-badge: #029964;
    --dark-bg-warning-badge: #343128;
    --dark-text-warning-badge: #a29950;
    --dark-bg-error-badge: #362525;
    --dark-text-error-badge: #b4483e;
    --dark-bg-primary-badge: #234242;
    --dark-text-primary-badge: #0c8282;
    --dark-bg-extra1-badge: #553757;
    --dark-text-extra1-badge: #FA37FA;
    --dark-bg-extra2-badge: #4f3520;
    --dark-text-extra2-badge: #db6204;

    
    --light-bg-success-badge: #8bf288;
    --light-bg-warning-badge: #f2cf88;
    --light-bg-error-badge: #f77281;
}
.badge{
    padding:3px 5px;
    border-radius: 5px;
    font-weight: 800;
}

span.badge-success[data-colorschema="dark"]{background: var(--dark-bg-success-badge);color: var(--dark-text-success-badge);border: 1px solid var(--dark-text-success-badge);}
span.badge-warning[data-colorschema="dark"]{background: var(--dark-bg-warning-badge);color: var(--dark-text-warning-badge);border: 1px solid var(--dark-text-warning-badge);}
span.badge-error[data-colorschema="dark"]{background: var(--dark-bg-error-badge);color: var(--dark-text-error-badge);border: 0.5px solid var(--dark-text-error-badge);}
span.badge-primary[data-colorschema="dark"]{background: var(--dark-bg-primary-badge);color: var(--dark-text-primary-badge);border: 1px solid var(--dark-text-primary-badge);}
span.badge-extra1[data-colorschema="dark"]{background: var(--dark-bg-extra1-badge);color: var(--dark-text-extra1-badge);border: 1px solid var(--dark-text-extra1-badge);}
span.badge-extra2[data-colorschema="dark"]{background: var(--dark-bg-extra2-badge);color: var(--dark-text-extra2-badge);border: 1px solid var(--dark-text-extra2-badge);}

span.badge-success[data-colorschema="light"]{background: var(--light-bg-success-badge);color: var(--light-text-success-badge);border: 1px solid var(--light-text-success-badge);}
span.badge-warning[data-colorschema="light"]{background: var(--light-bg-warning-badge);color: var(--light-text-warning-badge);border: 1px solid var(--light-text-warning-badge);}
span.badge-error[data-colorschema="light"]{background: var(--light-bg-error-badge);color: var(--light-text-error-badge);border: 0.5px solid var(--light-text-error-badge);}
span.badge-primary[data-colorschema="light"]{background: var(--dark-bg-primary-badge);color: var(--dark-text-primary-badge);border: 1px solid var(--dark-text-primary-badge);}
span.badge-extra1[data-colorschema="light"]{background: var(--dark-bg-extra1-badge);color: var(--dark-text-extra1-badge);border: 1px solid var(--dark-text-extra1-badge);}
span.badge-extra2[data-colorschema="light"]{background: var(--dark-bg-extra2-badge);color: var(--dark-text-extra2-badge);border: 1px solid var(--dark-text-extra2-badge);}

/* Spinner */
.spinner.success {border-top: 5px solid var(--color-success);}
.spinner.warning {border-top: 5px solid var(--color-warning);}
.spinner.error {border-top: 5px solid var(--color-error);}
.spinner.primary {border-top: 5px solid var(--color-primary);}
.spinner.extra1 {border-top: 5px solid var(--color-extra1);}
.spinner.extra2 {border-top: 5px solid var(--color-extra2);}
.spinner.extra3 {border-top: 5px solid var(--color-extra3);}
.spinner.extra4 {border-top: 5px solid var(--color-extra4);}

.container-spinners {
    display: flex;
    gap: 20px;
    padding: 50px;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.spinner {
    border: 5px solid #fff1;
    border-radius: 20px;
    animation: spin 1s infinite linear;
    width: 10px;
    height: 10px;
}
