.page-home {
    display: flex;
    flex-direction: column;
}

.page-home .section-page{
    flex:1;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 20px;
}

.page-full .card.flex-full{
    flex:1;
}
